
.animation-class{
    border: 1px solid;
    border-radius: 5px;
    animation: anime 2s ease-in-out;
}

@keyframes anime {
    0%{
        opacity: 0;
        transform: translateX(-110%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}